
.section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background: #e51e2a;
    color: #fff;
}
.section .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #161616;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}.logo {
    position: relative;
    max-width: 150px;
}
.navigation {
    display: flex;
    position: relative;
    color: #fff;
}
.navigation li {
    list-style: none;
    margin-left: 40px;
}
.header .navigation li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    display: flex;
}
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.content .textBox {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.content .textBox h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
}
.content .textBox p {
    color: #fff;
}
.content .textBox .Learn {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #161616;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.scroll {
    position: absolute;
    left: 215px;
    width: 240px;
    height: 60px;
    bottom: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s ease-in-out;
    
}
.scroll :hover {
    opacity: 0.2s;
    transform: translate(0px, -6px);
    transition-duration: 1s;
}
.navigation :hover {
    color: #161616;
}
.banner {
    display: flex;
    justify-content: space-around;
}
.link {
    color: #fff;
}
.link :hover {
    color: #161616;
}
@media (max-width:991px)
{
    .section {
        top: -10px;
        padding: 40px;
    }
    .header {
        padding: 150px 40px;
    }
    .scroll {
        left: 40px;
    }
    .content {
        flex-direction: column;
    }
    .content .textBox {
        max-width: 100%;
    }
    .banner {
     max-width: 200px;
     align-items: center;
     padding: -10px;
    }
}
